#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  width: 100%;
}

.section {
  margin-bottom: 30px;
}
.section-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}
.section-title {
  padding: 20px 0;
  margin: 0;
}
.section-content > div {
  padding: 16px 0;
}