#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 28px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.header .logo {
  margin-right: 16px;
  border-radius: 6px;
}
.main {
  width: 100%;
}
.footer {
  margin-top: 48px;
  border-top: 1px solid #ccc;
  padding: 16px 0;
}

.section {
  margin-bottom: 30px;
}
.section-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}
.section-title {
  padding: 20px 0;
  margin: 0;
}
.section-content > div {
  padding: 16px 0;
}